.PostComment__container {
  margin: 15px 0 20px 0;
  .PostComment__userinfos-container {
    display: flex;
    align-items: center;
    img {
      width: 40px;
    }
    span {
      margin-left: 10px;
    }
  }
  .PostComment__comment {
    background-color: $white;
    box-shadow: $boxShadow;
    padding: 10px;
    margin: 10px 5px 5px 0;
  }
}