.PostsList__container {
  display: flex;
}

.PostsList__main-container {
  max-width: 1366px;
  margin: auto auto 5px auto;
  display: flex;
  flex-direction: column;
}

.PostsList__data-container {
  display: flex;
}
.PostsList__filters-container {
  width: 250px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: $boxShadow;
  input{
    margin : 6px;
  }
  hr{
    margin-bottom: 10px;
  }

}

.PostsList__infos-container {
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 15px;
}

.PostsList__searchbar-container{
  margin: 20px 0px;
  background-color: white;
  width: 350px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $boxShadow;
  svg {
    color: $blue2;
    font-size: 20px;
    margin-right: 5px;
  }
}

.PostsList__searchbar {
  border: hidden;
  outline: none;
  width: 300px;
  margin-left: 10px;
  font-size: 16px;
  font-style: italic;
}

.PostsList__filters-title{
  margin : 20px;
  font-weight: bold;
}

.PostsList__posts-container{
  display: flex;
  flex-wrap: wrap;
}
