.PostsList__container {
  display: flex;
}

.PostsList__main-container {
  max-width: 1366px;
  margin: auto;
  display: flex;
  flex-direction: column;
  
}

.PostsList__data-container {
  display: flex;
  height: 100vh;
}
.PostsList__filters-container {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: $boxShadow;
  input{
    margin : 6px;
  }
  hr{
    margin-bottom: 10px;
  }

}

.PostsList__infos-container{
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;  
  margin-left: 10px;
  margin-bottom: 35px;
}

.PostsList__searchbar-container{
  margin:20px;
  background-color: white;
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}

.PostsList__searchbar {
  border: hidden;
  outline: none
}

.PostsList__posts-infos-container{
  min-width: 660px;
}

.PostsList__filters-title{
  margin : 20px;
}

.PostsList__posts-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}
