.PostsList__container {
  display: flex;
}

.PostsList__main-container {
  max-width: 1366px;
  margin: auto;
  display: flex;
  flex-direction: column;
    
    @media screen and (max-width: 767px) {
    /*Jusqu’à 479px : smartphone en portrait
De 480px à 959px : smartphone en paysage, tablette en portrait et petite tablette en paysage
De 960px à 1280px : tablette en paysage, écran d’ordinateur de taille petite et moyenne
1281px et au delà : grand écran d’ordinateur (21″ et + en plein écran )
*/
    }
    
    @media screen and (max-width: 479px) {
}
}

.PostsList__data-container {
  display: flex;
  height: 100vh;
}
.PostsList__filters-container {
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  box-shadow: $boxShadow;
  input{
    margin : 6px;
  }
  hr{
    margin-bottom: 10px;
  }

}

.PostsList__infos-container{
  display: flex;
  font-size: 12px;
  justify-content: space-evenly;  
  margin-left: 10px;
  margin-bottom: 35px;
}

.PostsList__searchbar-container{
  margin: 20px 0px;
  background-color: white;
  width: 350px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 10px grey;
}

.PostsList__searchbar {
  border: hidden;
  outline: none;
  width: 300px;
  margin-left: 10px;
  font-size: 16px;
  font-style: italic;
}

.PostsList__posts-infos-container{
  min-width: 660px;
}

.PostsList__filters-title{
  margin : 20px;
  font-weight: bold;
}

.PostsList__posts-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
}
