.DashboardNavMenu__container {
  position: fixed;
  width: 250px;
  background-color: $white;
  box-shadow: $boxShadow;
  nav {
    margin: 40px 0 40px 0;
  }
  li {
    list-style-type: none;
    background-color: $lightGrey;
    margin: 5px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    user-select: none;
  }
  .active-menu {
    background-color: $lightBlue1;
    color: $lightGrey;
    cursor: auto;
  }
}