.DashboardList__container {
  margin: 5px;
  .DashboardList__title-container {
    background-color: $blue1;
    padding: 10px;
    max-width: 650px;
    .DashboardList__title {
      color: $lightGrey;
      font-size: 16px;
    }
  }
  .DashboardList__items-container {
    display: flex;
    flex-wrap: wrap;
  }
  .DashboardList__btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .DashboardList__plus-btn {
      box-shadow: $boxShadow;
      width: 150px;
      height: 30px;
      border: none;
      border-radius: 3px;
      background-color: white;
      margin: 5px 0 5px 0;
      cursor: pointer;
    }
  }
}

@media (max-width: 574px) {
  .DashboardList__items-container {
    justify-content: center;
  }
}