.DashboardDisplayBtn__btn {
  position: fixed;
  width: 50px;
  height: 40px;
  font-size: 24px;
  background-color: $lightBlue1;
  color: $lightGrey;
  border: none;
  border-radius: 3px;
  margin: 0;
  cursor: pointer;
}