.DashboardNavMenu__container {
  z-index: 10;
  flex-basis: 250px;
  min-width: 250px;
  background-color: $white;
  box-shadow: $boxShadow;
  nav {
    margin: 35px 0 35px 0;
  }
  li {
    list-style-type: none;
    background-color: $lightGrey;
    margin: 5px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    user-select: none;
  }
  .active-menu {
    background-color: $lightBlue1;
    color: $lightGrey;
    cursor: auto;
  }
}

@media (max-width: 800px) {
  .DashboardNavMenu__container {
    top: 115px;
    position: fixed;
  }
}